#div1{
    width: 150px ;
    height: 150px;
   background-image: linear-gradient(black,orange,blue);
}
#div2{
    width: 150px ;
    height: 150px;
    background-image: linear-gradient(black,rgb(88, 192, 88) ,blue);
}
#div3{
    width: 150px ;
    height: 150px;
    background-image: linear-gradient(rgb(56, 29, 29),green ,blue);
}
#div4{
    width: 150px ;
    height: 150px;
    background-image: linear-gradient(rgb(156, 209, 12),rgb(8, 37, 8) ,rgb(3, 3, 36));
}
#div5{
    width: 150px ;
    height: 150px;
    background-image: linear-gradient(rgb(128, 17, 156),rgb(128, 0, 122) ,rgb(221, 7, 89));
}
#div6{
    width: 150px ;
    height: 150px;
    background-image: linear-gradient(rgb(228, 13, 13),rgb(57, 6, 87) ,rgb(180, 180, 206));
}
#div7{
    width: 150px ;
    height: 150px;
    background-image: linear-gradient(rgb(34, 13, 13),rgb(13, 224, 13) ,rgb(195, 0, 255));
}
#div8{
    width: 150px ;
    height: 150px;
    background-image: linear-gradient(rgb(34, 126, 11),rgb(128, 15, 0) ,rgb(44, 44, 70));
}
.text{
    color: white;
    font-size: 90pt;
}