/* div{
    background-color: rgb(54, 202, 9);
    width: 150px;
    height: 150px;
    border: rgb(21, 3, 36) solid 3px;
    border-radius: 80px;
    
}

.div_1{
    background-color: rgb(196, 1, 1);
}

#div_2{ 
    background-color: rgb(44, 4, 44);
    width: 200px ;
    height: 200 px;
}
 */
